<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
">

	<!-- Cargar archivo externo datosEmpresa.propiedades para inyectar atributos 
		o campos (otra forma es el punto 3 de abajo) -->
	<context:property-placeholder location="classpath:datosEmpresa.propiedades" />
	<bean id="miInforme2" class="es.pildoras.IoC.Informe_7"></bean>
	<bean id="miDirectorEmpleado" class="es.pildoras.IoC.DirectorEmpleado_5">
		<constructor-arg ref="miInforme2"></constructor-arg>
		<!-- PAra hacer inyecciones de campos/atributos. El name de property tiene 
			que ser el mismo que el del setter creado pero sin 'set' y la primera palabra 
			en minuscula y el valor el nombre dado en el archivo externo a esas variables-->
		<property name="email" value="${email}"></property>
		<property name="nombreEmpresa" value="${nombreEmpresa}"></property>
	</bean>


	<!-- 3. Configuramos la dependencia en XML para la inyeccion de dependencias 
		y de campos/atributos (ver 5,6 y 7) -->
	<bean id="miInforme" class="es.pildoras.IoC.Informe_7"></bean>


	<!-- ______3.1 Bean con contructores_______ -->
	<bean id="miJefeEmpleado" class="es.pildoras.IoC.JefeEmpleado_1">
		<constructor-arg ref="miInforme"></constructor-arg>
		<!-- PAra hacer inyecciones de campos/atributos. El name de property tiene 
			que ser el mismo que el del setter creado pero sin 'set' y la primera palabra 
			en minuscula -->
		<property name="email"
			value="jefatura@pildorasinformaticas.es"></property>
		<property name="nombreEmpresa" value="Pildoras Informaticas"></property>
	</bean>


	<!-- ________3.2 Bean con SETTER________ -->
	<bean id="miSecretarioEmpleado"
		class="es.pildoras.IoC.SecretarioEmpleado_4">

		<!-- Inyecciones de dependencias.El name de property tiene que ser el mismo 
			que el del setter creado pero sin 'set' y la primera palabra en minuscula -->
		<property name="informeNuevo" ref="miInforme"></property>

		<!-- PAra hacer inyecciones de campos/atributos. El name de property tiene 
			que ser el mismo que el del setter creado pero sin 'set' y la primera palabra 
			en minuscula -->
		<property name="email"
			value="secretaria@pildorasinformaticas.es"></property>
		<property name="nombreEmpresa" value="Pildoras Informaticas"></property>
	</bean>


</beans>